<!-- Welcome Screen -->
<div class="section intro">
  <div class="header my_name">
    <h1 id="introduction">Sean Lenhart</h1>
  </div>
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("headshot.jpg", :class => "headshot") %>
      <p><a href="http://www.twitter.com/seanlenhart" target="_blank">@seanlenhart</a></p>
      <p><a href="http://www.seanlenhart.com" target="_blank">seanlenhart.com</a></p>
      <p><a href="https://github.com/proto-zero/Projects" target="_blank">GitHub</a></p>
    </div>
    <div class="text bio">
      <h2>Hi, I'm Sean</h2>
      <p>I am a <strong>Software Developer</strong>, and a <strong>Professional Actor</strong>.</p><br>
      <p>I like to build things: Plays, Characters, Programs, Websites.</p>
      <p>I like to communicate with an audience, to interact with other players, to find interesting and unique ways to solve problems.</p><br>
      <div class="magic_container">In other words, I have a strong desire to <div class="magic"><em>express myself.</em></div></div><br>
      <p>Let me take you through some of the Projects I have created while attending Academy Pittsburgh and learning the Ruby Programming Language. If you want to dive right into my github you can do so <a href="https://github.com/proto-zero/Projects" target="_blank">here</a>. </p><br>
  <!-- ADD LINKS TO THE SECTIONS ON THE PAGE -->
      <p><a href="#rpg"><strong>Battle Fantasy</strong></a> - A Turn-Based RPG Battle System</p>
      <p><a href="#gb"><strong>Garden Box</strong></a> - A CyberPunk Garden Box</p>
      <p><a href="#system"><strong>Starship Bridge</strong></a> - A Starship Bridge Simulator</p>
    </div>
  </div>
</div>

<!-- RPG -->
<!-- Section: Top -->
<div class="section rpg">
  <div class="header rpg_title">
    <h1 id="rpg"><a href="https://github.com/proto-zero/Projects/tree/main/battle_fantasy" target="_blank">Battle Fantasy</a></h1>
    <p>A Turn-Based RPG Battle System</p>
  </div>
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("battle_start.png", :class => "battle start term") %>
      <%= image_tag("battle_maxscreen.png", :class => "battle maxscreen term") %>
    </div>
    <div class="text rpg_description">
      <p><a href="https://github.com/proto-zero/Projects/tree/main/battle_fantasy" target="_blank">Battle Fantasy</a> is what happens when you play Final Fantasy X during breaks in Academy Pittsburgh.</p><br>
      <%= image_tag("ffxmenu.png", :class => "ffxmenu") %><br>
      <p>In most turn-based role-playing-games, when you encounter an enemy, you are given a menu that includes things like health, status, and a list of actions that you can perform.</p><br>
      <p>I find I enjoy creating menus in the terminal; trying to create a loop that changes just enough to modify the menu but not break it. I enjoy the illusion of making a repeating set of strings that looks like a static page.</p>
    </div>
  </div>
</div>

<!-- Section: Game Screen Layout -->
<div class="section rpg">
  <div class="main_container">
    <div class="text rpg_description">
      <p>For this project I started with creating the menu screen. I interpolated the variables into the strings to help with the spacing on the screen. Ending the screen using print allowed the user input to appear, rather than beneath the menu, in the same line as ACTION. It gives the user a sense that they are typing inside the program instead of manipulating it from the outside.</p><br>
      <p>The menu has been refined as more features have been added. Having it exist as its own method made implementing changes easy to track inside the code stack.</p>
    </div>
    <div class="img_container">
      <%= image_tag("battle_gamescreenlayout.png", :class => "battle gamescreenlayout code") %>
    </div>
  </div>
</div>

<!-- Section: Game Logic -->
<div class="section rpg">
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("battle_gamelogic.png", :class => "battle gamelogic code") %>
    </div>
    <div class="text rpg_description">
      <p>The loop itself is rather clean:</p>
      <ul>
        <li>First we run the screen method which includes <code>system("clear")</code> to keep the menu in its position.</li>
        <li><code>@defense</code> is reset to zero.</li>
        <li>The user input is accepted and set to downcase. Whatever they choose activates the appropriate method (attack, defend, magic). If their choice isn't recognized their turn is effectively skipped.</li>
        <li>If the player has dealt enough damage to the enemy (or runs away) the <code>@status</code> text is replaced accordingly. This screen lasts for 2.5 seconds before cutting to the Game Over and Credit Scren.</li>
        <li>The enemy takes their turn to attack the player.</li>
        <li>If the enemy deals enough damage to the player then the game ends</li>
      </ul>
    </div>
  </div>
</div>

<!-- Garden Box -->
<!-- Section: Top -->
<div class="section gardenbox">
  <div class="header gb_title">
    <h1 id="gb"><a href="https://github.com/proto-zero/Projects/blob/main/garden_box/gardenbox_two.rb" target="_blank">GR-DN_BO.xx</a></h1>
    <p>A CyberPunk Garden Box</p>
  </div>
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("gb_end.png", :class => "gb end") %>
    </div>
    <div class="text gb_description">
      stuff and things and things and also some stuff and maybe another thing with the stuff
    </div>
  </div>
</div>

<!-- Starship Bridge Systems Manager -->
<!-- Section: Top -->
<div class="section system_manager">
  <div class="header starship_title">
    <h1 id="system"><a href="https://github.com/proto-zero/Projects/blob/main/starship_bridge_systems_manager.rb" target="_blank">Starship Bridge</a></h1>
    <p>A Starship Bridge Simulator</p>
  </div>
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("starship_menu.png", :class => "starship menu") %>
    </div>
    <div class="text bridge_description">
      stuff and things and things and also some stuff and maybe another thing with the stuff
    </div>
  </div>
</div>




<!-- TO DO
  Create alts and descriptions for better accessibility
  Finish adding content for battle fantasy
  Finish adding content for gardenbox
  Finish adding content for starship
  Organize links like a table of contents
  Add separate tabs for full screen images
  Add surprise to body background
  Add links back to Top
  Adjust iphone view
  Choose fonts
  adjust border-radius to px
  contrast in text
  + Add Links to spots on the page
  + Get the bubbles to center
  + Fix images to work with different screen sizes
  + Add Footer
  + Update borders at bio and images
  -->
