<!-- Welcome Screen -->
<div class="section intro">
  <div class="header my_name">
    <h1 id="introduction">Sean Lenhart</h1>
    <div class="links">
      <p><a href="http://www.twitter.com/seanlenhart" target="_blank"><%= image_tag 'twitter.png', :class => 'twitter' %></a></p>
      <p><a href="http://www.seanlenhart.com" target="_blank">seanlenhart.com</a></p>
    <p><a href="https://github.com/proto-zero/Projects" target="_blank">GitHub</a></p>
    </div>
  </div>
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("headshot.jpg", :class => "headshot") %>
      <h2>Table Of Contents</h2>
      <p><a href="#rpg"><strong>Battle Fantasy</strong></a> - RPG Battle System</p>
      <p><a href="#gb"><strong>Garden Box</strong></a> - CyberPunk Garden Box</p>
      <p><a href="#system"><strong>Starship Bridge</strong></a> - Starship Bridge Simulator</p>
    </div>
    <div class="text bio">
      <h2>Hi, I'm Sean</h2>
      <p>I am a <strong>Software Developer</strong>, and a <strong>Professional Actor</strong>.</p><br>
      <p>I like to build things: Plays, Characters, Programs, Websites.</p>
      <p>I like to communicate with an audience, to interact with other players, to find interesting and unique ways to solve problems.</p><br>
      <div class="magic_container">In other words, I have a strong desire to <div class="magic"><em>express myself.</em></div></div><br>
      <p>Let me take you through some of the Projects I have created while attending Academy Pittsburgh and learning the Ruby Programming Language. If you want to dive right into my github you can do so <a href="https://github.com/proto-zero/Projects" target="_blank">here</a>. </p><br>
    </div>
  </div>
</div>

<!-- RPG -->
<!-- Section: Top -->
<div class="section rpg">
  <div class="header rpg_title">
    <h1 id="rpg"><a href="https://github.com/proto-zero/Projects/tree/main/battle_fantasy" target="_blank">Battle Fantasy</a></h1>
    <p> RPG Battle System</p>
  </div>
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("battle_start.png", :class => "battle start term") %>
      <%= image_tag("battle_maxscreen.png", :class => "battle maxscreen term") %>
    </div>
    <div class="text rpg_description">
      <p><a href="https://github.com/proto-zero/Projects/tree/main/battle_fantasy" target="_blank">Battle Fantasy</a> is what happens when you play Final Fantasy X during breaks in Academy Pittsburgh.</p><br>
      <%= image_tag("ffxmenu.png", :class => "ffxmenu") %><br>
      <p>In most turn-based role-playing-games, when you encounter an enemy, you are given a menu that includes things like health, status, and a list of actions that you can perform.</p><br>
      <p>I find I enjoy creating menus in the terminal; trying to create a loop that changes just enough to modify the menu but not break it. I enjoy the illusion of making a repeating set of strings that looks like a static page.</p>
    </div>
  </div>
</div>

<!-- Section: Game Screen Layout -->
<div class="section rpg">
  <div class="main_container">
    <div class="text rpg_description">
      <div class="subject">
        <p><strong>Game Screen Layout</strong></p><br>
      </div>
      <p>For this project I started with creating the menu screen.</p><br>
      <p>I interpolated the variables into the strings to help with the spacing on the screen. Ending the screen using print allowed the user input to appear, rather than beneath the menu, in the same line as ACTION. It gives the user a sense that they are typing inside the program instead of manipulating it from the outside.</p><br>
      <p>The menu has been refined as more features have been added. Having it exist as its own method made implementing changes easy to track inside the code stack.</p>
    </div>
    <div class="img_container">
      <%= image_tag("battle_gamescreenlayout.png", :class => "battle gamescreenlayout code") %>
    </div>
  </div>
</div>

<!-- Section: Game Logic -->
<div class="section rpg">
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("battle_gamelogic.png", :class => "battle gamelogic code") %>
    </div>
    <div class="text rpg_description">
      <div class="subject">
        <p><strong>Game Logic</strong></p><br>
      </div>
      <p>The loop itself is rather clean:</p>
      <ul>
        <li>First we run the screen method which includes <code>system("clear")</code> to keep the menu in its position.</li><br>
        <li><code>@defense</code> is reset to zero.</li><br>
        <li>The user input is accepted and set to downcase. Whatever they choose activates the appropriate method (attack, defend, magic). If their choice isn't recognized their turn is effectively skipped.</li><br>
        <li>If the player has dealt enough damage to the enemy (or runs away) the <code>@status</code> text is replaced accordingly. This screen lasts for 2.5 seconds before cutting to the Game Over and Credit Scren.</li><br>
        <li>The enemy takes their turn to attack the player.</li><br>
        <li>If the enemy deals enough damage to the player then the game ends</li><br>
      </ul>
    </div>
  </div>
</div>

<!-- Section: Player Turn - Attack -->
<div class="section rpg">
  <div class="main_container">
    <div class="text rpg_description">
      <div class="subject">
        <p><strong>Attack</strong></p><br>
      </div>
      <p>On the player's turn they have four options: Attack, Defend, Magic, or Run Away.</p><br>
      <p>When the player chooses to attack the attack method is called. It picks a random number between 0 and 99.</p><br>
      <p>If the attack number is less than 70 than the attack is successful and a damage variable is created. This is also a random number between 1 and 5. This amount is subtracted from the Enemy Health variable</p><br>
      <p>If the attack number is less than 18 then it is a critical hit and deals more damage than normal, between 6 and 10.</p><br>
      <p>Any attack numbers above 70 miss and the enemy does not take damage.</p>
    </div>
    <div class="img_container">
      <%= image_tag("battle attack", :class => "battle attack code") %>
    </div>
  </div>
</div>

<!-- Section: Player Turn - Defend -->
<div class="section rpg">
  <div class="main_container">
    <div class="text rpg_description">
      <div class="subject">
        <p><strong>Defend</strong></p><br>
      </div>
      <p>If the player chooses to defend then the defense method is called and a defense number is randomly chosen</p><br>
      <p>90% of the time the player will successfully defend, and a defense variable will populate with a random number between 2 and 4. This number will be deducted from any damage the enemy deals later in the turn. It is then reset back to 0 at the beginning of the loop.</p><br>
      <p>Of course, defending against an attack can be dangerous, and there is a small chance that the player will stumble, leaving themselves vulnerable to attack. The defense variable is automatically set to -5 which will increase any enemy damage.</p>
    </div>
    <div class="img_container">
      <%= image_tag("battle defend", :class => "battle defend code") %>
    </div>
  </div>
</div>

<!-- Section: Player Turn - Magic -->
<div class="section rpg">
  <div class="main_container">
    <div class="text rpg_description">
      <div class="subject">
        <p><strong>Magic</strong></p><br>
      </div>
        <p>If the player chooses magic they will have to choose which spell to cast: Fire, Lightning, or Heal.</p><br>
        <p>Using an each loop, the spells are listed for the player to choose by selecting the corresponding number.</p>
        <ul>
          <li>Fire burns the enemy, dealing 2 damage for 2 rounds.</li><br>
          <li>Lightning stuns the enemy, decreasing the amount of damage they can deal to the player for 2 turns.</li><br>
          <li>Heal restores a random amount of health to the player's health variable.<br>
             The random number is added to a player_hp variable, which is compared to the starting maximum health of the player. If player_hp exceeds the starting health, then the total health refreshed is capped at the maximum amount.</li>
      </div>
    <div class="img_container">
      <%= image_tag("battle magic", :class => "battle player_magic code") %>
    </div>
  </div>
</div>


<!-- Garden Box -->
<!-- Section: Top -->
<div class="section gardenbox">
  <div class="header gb_title">
    <h1 id="gb"><a href="https://github.com/proto-zero/Projects/blob/main/garden_box/gardenbox_two.rb" target="_blank">GR-DN BO.xx</a></h1>
    <p>A CyberPunk Garden Box</p>
  </div>
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("gb_end.png", :class => "gb end") %>
    </div>
    <div class="text gb_description">
      stuff and things and things and also some stuff and maybe another thing with the stuff
    </div>
  </div>
</div>

<!-- Starship Bridge Systems Manager -->
<!-- Section: Top -->
<div class="section system_manager">
  <div class="header starship_title">
    <h1 id="system"><a href="https://github.com/proto-zero/Projects/blob/main/starship_bridge_systems_manager.rb" target="_blank">Starship Bridge</a></h1>
    <p>A Starship Bridge Simulator</p>
  </div>
  <div class="main_container">
    <div class="img_container">
      <%= image_tag("starship_menu.png", :class => "starship menu") %>
    </div>
    <div class="text bridge_description">
      stuff and things and things and also some stuff and maybe another thing with the stuff
    </div>
  </div>
</div>




<!-- TO DO
  Create alts and descriptions for better accessibility
  Finish adding content for battle fantasy
  Finish adding content for gardenbox
  Finish adding content for starship
  + Organize links like a table of contents
  Add separate tabs for full screen images
  Add surprise to body background
  Add links back to Top
  Adjust iphone view
  Choose fonts
  Add space to text
  + adjust border-radius to px
  + contrast in text
  + Add Links to spots on the page
  + Get the bubbles to center
  + Fix images to work with different screen sizes
  + Add Footer
  + Update borders at bio and images
  -->
